/* UTILITY */
:root{
    --avorio: #FAF7F0;
    --celeste: #CDFCF6;
    --azzurro: #BCCEF8;
    --azzurroscuro: #98A8F8;
}

#contenitore-generale{
    height: 100vh;
}

body{
    font-family: 'Montserrat', sans-serif;
}

header{
    width: 100%;
    height: 80px;
}

main{
     background-color: var(--celeste);
     height: calc(100% - 130px);
}

footer{
    width: 100%;
    height: 50px;
}

.my-container{
    width: 80%;
    margin: 0 auto
}

h1{
    padding-left: 10px;
}

#play-button{
    background-color: var(--azzurroscuro);
    color: white;
    padding: 10px;
}

#livelli-difficolta{
    background-color: var(--azzurroscuro);
    color: white;
    padding: 10px;
}

/* MODIFICO MAIN */

#contenitore-main{
    display: flex;
    align-items: center;
}

.field-game{
    width: 500px;
    height: 500px;
    margin: 0 auto;
    border: 1px solid var(--azzurroscuro);
    display: flex;
    flex-wrap: wrap;
}

.boxes{
    border: 1px solid  var(--azzurroscuro);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.div-creato{
    display: flex;
    justify-content: center;
}

/* EFFETTI BG COLOR */

.bg-blu{
    background-color: var(--azzurroscuro);
}

.bg-rosso{
    background-color: red;
}